<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/3/library/csv.html).

In [3]:
import csv
from collections import namedtuple   # Convenient to store the data rows
import pandas
import numpy
import matplotlib.pyplot as plt

df = pandas.read_table('./data/chipotle.tsv')

In [4]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [5]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [12]:
df.info()
#Findings : Choice Description has null items
#Item Price is an object instead of a float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [24]:
df.loc[df.choice_description.isnull()==True, 'choice_description'] = 'unknown'
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,unknown,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,unknown,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [35]:
df['price'] = df.item_price.apply(lambda row: float(row.split('$')[1])) #make price into float
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4622 non-null   object
 5   price               4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [49]:
df.groupby(["order_id"])["price"].sum()

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: price, Length: 1834, dtype: float64

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [70]:
unique_soda = df.loc[(df.item_name=='Canned Soda') | (df.item_name=='Canned Soft Drink'), 'choice_description'].tolist()

In [72]:
set(unique_soda) #unique soda

{'[Coca Cola]',
 '[Coke]',
 '[Diet Coke]',
 '[Diet Dr. Pepper]',
 '[Dr. Pepper]',
 '[Lemonade]',
 '[Mountain Dew]',
 '[Nestea]',
 '[Sprite]'}

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [105]:
df.item_name.unique() #what kinds of burritos are there?

True

In [106]:
sbtopping = df.loc[df.item_name.str.contains('Burrito'), 'choice_description']#filter all item name that contains burrito, list down the toppings
sbtopping

7       [Tomatillo Red Chili Salsa, [Fajita Vegetables...
9       [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...
16      [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
17      [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
21      [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
                              ...
4608    [Tomatillo Red Chili Salsa, [Fajita Vegetables...
4610    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4611    [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
Name: choice_description, Length: 1172, dtype: object

In [107]:
nooftopping= sbtopping.apply(lambda row: len(row.split(',')))
nooftopping

7       8
9       7
16      4
17      6
21      7
       ..
4608    7
4610    6
4611    5
4617    7
4618    6
Name: choice_description, Length: 1172, dtype: int64

In [108]:
nooftopping.mean()

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [122]:
chiporders = df.loc[df.item_name.str.contains('Chips')]
chiporders

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,unknown,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,unknown,$2.39,2.39
6,3,1,Side of Chips,unknown,$1.69,1.69
10,5,1,Chips and Guacamole,unknown,$4.45,4.45
14,7,1,Chips and Guacamole,unknown,$4.45,4.45
...,...,...,...,...,...,...
4596,1826,1,Chips and Guacamole,unknown,$4.45,4.45
4600,1827,1,Chips and Guacamole,unknown,$4.45,4.45
4605,1828,1,Chips and Guacamole,unknown,$4.45,4.45
4613,1831,1,Chips,unknown,$2.15,2.15
4616,1832,1,Chips and Guacamole,unknown,$4.45,4.45

In [123]:
chiporders.groupby('item_name')['item_name'].count()

item_name
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Side of Chips                            101
Name: item_name, dtype: int64

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!